<%#
Copyright (C) 2022 tt.bot dev team
 
This file is part of @tt-bot-dev/web.
 
@tt-bot-dev/web is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
@tt-bot-dev/web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with @tt-bot-dev/web.  If not, see <http://www.gnu.org/licenses/>.
%>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <b>tt.bot</b> v<%=ttbotVersion%> made with &lt;3 by the <b>tt.bot development team</b> using <a
                href="https://nodejs.org">Node.js</a> and <a href="https://abal.moe/Eris">Eris</a>. Website made using
            <a href="https://bulma.io">Bulma</a> and <a href="https://fontawesome.com">Font Awesome</a>. Source code
            available under <a href="/versions">various licenses.</a>
        </p>
        <p>
            <a href="https://owo.codes/tt.bot/bot" title="Source code"><span class="icon"><i class="fab fa-git-alt"></i></span></a>
            <a href="https://discord.gg/pGN5dMq" title="Support server"><span class="icon"><i class="fab fa-discord"></i></span></a>
        </p>
    </div>
</footer>
